.author_list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.album_button__wrapper {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}

.album_button {
  font-size: 30px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 0 0 0 30px;
  padding: 0;
}

.album_button:before {
  background: transparent;
  vertical-align: middle;
  line-height: 1;
  font-size: 30px;
  content: '←';
  position: absolute;
  top: -5%;
  left: 0px;
  opacity: 0;
  transform: translate(10px, 0);
  transition: all 0.3s ease;
}

.album_button:hover:before {
  color: white;
  opacity: 1;
  transform: translate(0, 0);
}
